.user-list-item {
  width: 100%;
  list-style: none;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  border: 1px rgb(97, 97, 97) solid;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(126, 126, 126, 0.4);
}

.user-profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.user-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.user-delete-button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.user-delete-button:hover {
  background-color: rgba(255, 0, 0, 0.304); 
  transform: scale(1.1); 
}

.user-delete-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.719);
}

.user-delete-button:active {
  background-color: rgba(255, 0, 0, 0.2); 
  transform: scale(0.95);
}

@media (prefers-color-scheme: light) {
  .user-list-item {
    border: 1px rgb(216, 216, 216) solid;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
}