#root {
  width: 100%;
  text-align: center;
  min-height: 100vh;
}

.users-page {
  width: 100%;
  min-height: 100vh;
  padding: 15px;
}

* {
  margin: 0;
  padding: 0;
}

.user-search-error {
  max-width: 600px;
  width: 100%;
}

.user-search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  max-width: 600px;
}

.user-search-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  height: 40px;
  background-color: rgb(44, 44, 44);
  padding: 10px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  flex: 1;
}

.user-search-input {
  height: 40px;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  width: 100%;
}

.clear-input-button {
  padding: 0;
  border: none;
  height: 40px;
  margin-right: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 15px;
  background-color: rgb(44, 44, 44);
}

.clear-input-button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.users-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 600px;
  height: 72vh;
  overflow-y: auto;
}

@media (prefers-color-scheme: light) {
  .user-search-bar {
    background-color: rgb(236, 236, 236);
  }

  .clear-input-button {
    background-color: rgb(236, 236, 236);
  }
}